In [100]:
import pandas as pd
import requests

In [101]:
url = 'https://es.finance.yahoo.com/quote/TEF/history?p=TEF&.tsrc=fin-srch&guccounter=1'
r = requests.get(url,headers ={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
df = pd.read_html(r.text)[0]
col_lista=list(df.columns)

In [102]:
col_lista

['Fecha', 'Abrir', 'Máx.', 'Mín.', 'Cierre*', 'Cierre ajus.**', 'Volumen']

In [103]:
col_num=[col_lista[0],col_lista[1]]

In [104]:
Data_num=df[col_num]
Data_num.dtypes

Fecha    object
Abrir    object
dtype: object

In [105]:
Data_num['Abrir'] = pd.to_numeric(Data_num['Abrir'],errors='coerce')

C:\Users\rpezoo\AppData\Local\Temp\ipykernel_24632\3481663567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_num['Abrir'] = pd.to_numeric(Data_num['Abrir'],errors='coerce')

In [106]:
Data_num.dtypes

Fecha     object
Abrir    float64
dtype: object

In [116]:
valueMax = Data_num['Abrir'].max()
ValueMin = Data_num['Abrir'].min()

In [127]:
#dff=dfcol[(dfcol['payment_type']=='Cash') & (dfcol['trip_total'].between(20,44))].groupby(['taxi_id']).sum()
df2= Data_num[(Data_num['Abrir']==valueMax)]
df3= Data_num[(Data_num['Abrir']==ValueMin)]

In [133]:
print('Día y valor en el cual la apertura es el máximo')
df2.head()

Día y valor en el cual la apertura es el máximo

          Fecha    Abrir
81  31 may 2022  53400.0

In [134]:
print('Día y valor en el cual el valor es el mínimo')
df3.head()

Día y valor en el cual el valor es el mínimo

          Fecha    Abrir
0  23 sept 2022  35100.0